{% extends "index.html" %}

{% block content %}

<picture style="z-index: -1; opacity: 0.79;">
  <img src="General/static/images/src/man-studying-stairs.jpg" alt="img">
</picture>

<h1>Welcome to the Study Portal</h1>
<p>Every year, we change the lives of millions of students. We enable them to explore all their study options in one place and to find the best fit study programme that matches their needs, goals, and preferences. In order to succeed in this mission, we work with over 3,750+ universities, business schools, law schools, and pathway providers who are eager to diversify their campuses and attract the right students from all over the world.</p>
<p>
    Education choice continues to reach a broad, global scale; and more students are keen to study abroad than ever before. Bring your institution to where 52 million prospective students are searching for their next study abroad opportunity. Ensure your institution's spotlight in the place where students will discover the amazing programmes you offer!
</p>

{% endblock %}
