{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TRAVEL VISTA</title>

<!-- icon placed here.... -->
<link rel="shortcut icon" type="image/x-icon" href="/static/images/src/icon.png">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <!-- Bootstrap importing via CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="container-fluid m-0 p-0" style="border: 2px solid black;">
  <div class="row m-0 p-0 sticky-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
    <i class="fa fa-book p-1"></i><a class="navbar-brand" href="/home">TRAVEL VISTA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/places">Places</a>
            </li>
           
            <li class="nav-item"><a href="/booking" class="nav-link">Bookings</a></li>
            <li class="nav-item"><a href="/contactus" class="nav-link">Contact Us</a></li>
          </ul>
          <div class="btn1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="btn btn-outline-primary btn-sm " href="/login" role="button">Join Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

<main class="row w-100 m-0 p-0">
  <section id="landing"  class="landing row">
    <p>
  "Discover the diverse beauty of India with Travel Vista, your guide to the most breathtaking destinations across the country. Explore, plan, and experience India's hidden gems today!"
    </p>
    <div class="btn">
   <a href="#main_page" id="next">Explore</a>
    </div>
  </section>
  
  <section class="main-content"  id="main_page">
    <div class="row" >
     <div class="mt-5" id="myUniqueDiv">
        {% block content %}
      
      {% endblock %}

     </div>
      </div>
  </section>

  <footer class="bg-dark w-100">
    <p style="color: white; font-size: 14px; text-align: center; font-family: 'Allerta Stencil', sans-serif; padding: 5px;">
      copyrights reserved at &copy;TRAVEL VISTA official.....
    </p>
  </footer>
</main>

</div>



  <!-- Custom JS file -->
  <script src="{% static 'scripts/min.js' %}"></script>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>
