{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Study Portal | Students Helper</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <!-- Bootstrap importing via CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="container m-0 p-0">
    <div class="row m-0 p-0 sticky-sm-top col-md-12" id="navbar">
      <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #ccc;" href="/home">Students Portal <i class="fa fa-user"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 <input id="checkbox" type="checkbox">
    <label class="toggle" for="checkbox">
        <div id="bar1" class="bars"></div>
        <div id="bar2" class="bars"></div>
        <div id="bar3" class="bars"></div>
    </label>


    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ourteam">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notes">Notes</a>
        </li>
        <li class="nav-item"><a href="/registration" class="nav-link">Registration</a></li>
        <li class="nav-item"><a href="/contactus" class="nav-link">Contact Us</a></li>
      </ul>
      <div class="btn1">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="btn btn-outline-primary btn-sm m-2" href="/joinus" role="button">Join Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
    </div>

    <main class="row md-col-12">
      <section id="home">
         <h1>Welcome to the Study Portal</h1>
         <p>You can find anything here for free........</p>
      </section>
      <section>
          {% block content %}
     
        {% endblock %}
      </section>
   
     </main>
     
     <footer class="bg-dark">
  <p style="color: white; font-size: 15px; font-variant-caps: petite-caps; text-align: center;">
    copyrights reserved at  &copy;Study Portal. 
  </p>   
     </footer>
  
  </div>

  <!-- Custom JS file -->
  <script src="{% static 'scripts/min.js' %}"></script>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>

</html>
