
# Python compiled files
__pycache__/
*.py[cod]

# Django migrations
*/migrations/

# Environment variables
*.env
.env/

# Virtual environment
venv/
env/


# Static files
staticfiles/


# IDE configurations
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
