@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

/* Global class for al elements  */
.center-global{
  text-align: center;
}


body {
  padding: 0;
  margin: 0;
  background: #000;
}

.navbar-nav>li>a {

	text-transform: uppercase;
	font-size: 12px;
	margin-right: 12px;
	color: #000000;
}


.navbar-toggler {
	padding: .20rem .50rem;
	font-size: 1.25rem;
	line-height: 1;
	background-color: transparent;
	border: 1px solid white;
}



.nav-link {

	color: #101010 !important;
}

/* 
.wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
  transition: 1s all;
} */

.navbar-brand {

	color: #000000;
	font-family: 'Allerta Stencil', sans-serif;
	margin-bottom: 4px;
	font-size: 27px;
}
/* 
.navbar-red:hover .wrapper {

  clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);

} */

.navbar-brand:hover {

	color: #383838;

}


/* 
.navbar-red {

  background-color: red;
  color: #fff;

}
 */
.all-show {
	z-index: 10;
}

.btn1 a{
  color: #ccc;
}

main{
  margin: 0;
  padding: 0;
  width: 100%;
}
section{
  width: 100%;
}
.main-content {
  position: relative;
  border-bottom: 5px solid #FF0000;
  margin: 0;
  padding: 0;
  z-index: 1000;
  min-height: 280px; /* Use min-height to allow flexibility */
  color: white; /* Ensure text color is readable over the image */
}

.main-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Let the background fill the entire container */
  background: url('/static/images/src/man-studying-stairs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; /* Center the image */
  opacity: 0.89; /* Adjust opacity */
  z-index: -1; /* Ensure the overlay is behind the text */
}

.main-content>h1{
  color: #FF0000;
  text-align: center;
  padding: 10px;
}
.main-content>p{
  color: #504B4B;
 /*  margin: 5px;
 padding: 5px; */
  text-align: center;
}
